<div>
    <p *ngIf="condition; else elseBlock"
        style="background-color: green; padding: 1%; font-weight: bolder; color: white;">
        It's works!
    </p>

    <ng-template #elseBlock>
        <p style="background-color: red; padding: 1%; font-weight: bolder; ">
            Work in progress!
        </p>
    </ng-template>

</div>

<hr />

<p *ngIf="conditionClick">
    True
</p>

<p *ngIf="!conditionClick">
    False
</p>

<button (click)="onClick()">Clicar</button>

<br />
<br />

<hr />

<ul>
    <li *ngFor="let item of list; let i = index;" (click)="onClickEventList(i);">[{{ i }}] {{ item.nome }} - idade
        = {{
        item.idade }}</li>
</ul>

<button (click)="onClickAddList()">Clicar</button>
