<div>

    <h2>NgIf</h2>

    <p *ngIf="condition; else elseBlock">
        <!-- style="background-color: green; padding: 1%; font-weight: bolder; color: white;"> -->
        It's works!
    </p>

    <ng-template #elseBlock>
        <p>
            <!-- style="background-color: red; padding: 1%; font-weight: bolder; "> -->
            Work in progress!
        </p>
    </ng-template>

</div>

<hr />

<h2>NgIf 2</h2>

<p *ngIf="conditionClick">
    True
</p>

<p *ngIf="!conditionClick">
    False
</p>

<button (click)="onClick()">Clicar</button>

<br />
<br />

<hr />

<h2>ngFor</h2>

<label for="nomeLista">Nome: </label>
<input type="text" [(ngModel)]="nomeLista">

<br />

<label for="nomeLista">Idade: </label>
<input type="text" [(ngModel)]="idadeLista">

<ul>
    <li *ngFor="let item of list; let i = index;" (click)="onClickEventList(i);">
        [{{ i }}] {{item.nome }} - idade = {{item.idade }}
    </li>
</ul>

<button (click)="onClickAddList(nomeLista, idadeLista)">Add</button>

<br />

<hr />

<h2>ngSwitch</h2>

<input type="text" [(ngModel)]="nome">

<div [ngSwitch]="nome">
    <p *ngSwitchCase="'joão'">
        João
    </p>
    <p *ngSwitchCase="'maria'">
        Maria
    </p>
    <p *ngSwitchDefault>
        Não encontrado!
    </p>
</div>
